RewriteEngine On 

RewriteRule ^user/user_reg_details/?$ user/user_reg_details.php [L]

RewriteRule ^user/user_account_details/?$ user/user_account_details.php [L]

RewriteRule ^user/specific_user_reg_detail/user_id/([^/\.]+)?$ user/specific_user_reg_detail.php?user_id=$1 [L]