RewriteEngine On 

# ALLOW ONLY NECESSARY REQUEST METHODS
RewriteCond %{REQUEST_METHOD} !^(GET|POST|PUT|DELETE) [NC]
RewriteRule .* - [F,L]

# User Start
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^user/user_reg_details/?$ user/user_reg_details.php [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^user/user_account_details/?$ user/user_account_details.php [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^user/specific_user_reg_detail/user_id/([^/\.]+)?$ user/specific_user_reg_detail.php?user_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^user/user_checker/?$ user/user_checker.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^user/user_regdata_insertion/?$ user/user_regdata_insertion.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^user/user_accountdata_insertion/?$ user/user_accountdata_insertion.php [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^user/give_user_acc_count/user_id/([^/\*]+)?$ user/give_user_acc_count.php?user_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^user/give_user_account_data/?$ user/give_user_account_data.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^user/registration_data_edit_request/?$ user/registration_data_edit_request.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^user/account_data_edit_request/?$ user/account_data_edit_request.php [L]


RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^user/user_deletion/user_id/([^/\*]+)?$ user/user_deletion.php?user_id=$1 [L]

# User End

# Category Start

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^category/category_details/?$ category/category_details.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^category/insert_cat_data/?$ category/insert_cat_data.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^category/check_cat_title/?$ category/check_cat_title.php [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^category/specific_cat_detail/cat_id/([^/\*]+)?$ category/specific_cat_detail.php?cat_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^category/update_category/?$ category/update_category.php [L]

RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^category/category_deletion/cat_id/([^/\*]+)?$ category/category_deletion.php?cat_id=$1 [L]

# Category End

# Sub Category Start

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^sub_category/sub_cat_details/?$ sub_category/sub_cat_details.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^sub_category/check_subcat_title/?$ sub_category/check_subcat_title.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^sub_category/insert_subcat_data/?$ sub_category/insert_subcat_data.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^sub_category/get_sciidandsciidit/?$ sub_category/get_sciidandsciidit.php [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^sub_category/specific_subcat_detail/subcat_id/([^/\*]+)?$ sub_category/specific_subcat_detail.php?subcat_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^sub_category/update_subcategory/?$ sub_category/update_subcategory.php [L]

RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^sub_category/sub_category_deletion/subcat_id/([^/\*]+)?$ sub_category/sub_category_deletion.php?subcat_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^sub_category/set_of_details/cats_id/([^/\*]+)?$ sub_category/set_of_details.php?cats_id=$1 [L]

# Sub Category End

# Brand And Item Start

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^brand_and_items/b_and_i_details/?$ brand_and_items/b_and_i_details.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^brand_and_items/get_bandi_id/?$ brand_and_items/get_bandi_id.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^brand_and_items/check_bandi_title/?$ brand_and_items/check_bandi_title.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^brand_and_items/insert_bandi_data/?$ brand_and_items/insert_bandi_data.php [L]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^brand_and_items/specific_bandi_detail/bandi_id/([^/\*]+)?$ brand_and_items/specific_bandi_detail.php?bandi_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^brand_and_items/bandi_deletion/brand_id/([^/\*]+)?$ brand_and_items/bandi_deletion.php?brand_id=$1 [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^brand_and_items/update_bandi/?$ brand_and_items/update_bandi.php [L]

# Brand And Item End

