/* Code Reset Start*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a:hover, a:active, a:visited, a:link, a:focus {
    outline: none;
    background: none;
    border: none;
    background-color: none;
}
:focus {
    outline: none !important;
}
a{
    -webkit-tap-highlight-color: transparent;
 }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gainsboro; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1792E9; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #137cc7; 
  }

/* Code Reset End*/

/* Admin Panel Container Start */

.admin_panel_container {
    border: 1px solid red;
    max-width: 1400px;
}

.pre_loader_container {
    height: 100%;
    width: 100%;
    position: absolute;
    color: #2295E9;
    z-index: 2;
    font-size: 30px;
    padding: 20%;
    background-color: rgb(0, 0, 0, 0.1);
    display: none;
}

/* Admin Panel Container End */

/* Admin Panel Main Container Start */

.admin_panel_main_container {
    border: 1px solid blue;
}

/* Admin Panel Main Container End */

/* Admin Panel Header Container Start */

.admin_panel_header_container {
    border: 1px solid black;
    width: 100%;
    margin: 5px 0px;
    padding-bottom: 5px;
    box-shadow: 0 8px 7px -10px black;
}
.admin_panel_header_left_container {
    border: 1px solid royalblue;
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
}


.admin_panel_header_right_container {
    border: 1px solid royalblue;
    float: right;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.admin_panel_header_new_notify_dot {
    display: inline-block;
    font-size: 8px;
    border: 0px;
    border-radius: 50%;
    color: #f3f3f3;
    position: absolute;
    margin-left: 25px;
    top: 20px;
}
.admin_panel_header_container::after {
    content: "";
    clear: both;
    display: table;
}

.user_db_container {
    border: 1px solid green;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.admin_db_image {
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 50%;
}
.user_db_container_arrow {
    padding: 0px 10px;
    border: 1px solid palevioletred;
    color: #808080;
}
.admin_panel_header_icons {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: white;
    
}

.admin_panel_header_bell_icon {
    font-size: 15px;
    border: 0px;
    background-color: #f3f3f3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #808080;
}
.admin_panel_header_web_title {
    color: #1792E9;
    font-size: 40px;
}

.profile_and_logout_container {
    position: absolute;
    background-color: white;
    top: 65px;
    right: 1%;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}
.profile_and_logout_container_buttons {
    background-color: white;
    font-size: 18px;
    border: none;
    font-weight: bold;
    margin: 5px 0px;
    transition: color 0.2s;
}
.profile_and_logout_container_buttons:hover {
    color: #1792E9;
}

/* Admin Panel Header Container End */   

/* Admin Panel Body Container Start */

.admin_panel_body_container {
    border: 1px solid red;
    display: flex;
    /* background-color: #e4e4e4; */
    margin: 10px 0px;
    padding: 5px 0px;
}

.admin_panel_body_navbar_container {
    flex: 20%;
    padding: 5px;
    margin: 5px 10px 5px 0px;
    display: none;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 540px;
    overflow-y: scroll;
}

.table_name_and_other_details_display_container {
    /* border: 1px solid yellow; */
    padding: 5px 0px;
    display: none;
}
.table_name_and_other_details_display_containers_inner_left_container {
    float: left;
    text-align: left;
}
.table_name_and_other_details_display_containers_inner_left_container > p {
    color: green;
    font-weight: bold;
    font-size: 15px;
}
.table_name_and_other_details_display_containers_inner_right_container {
    float: right;
    margin: 11px 0px;
}
.table_name_and_other_details_display_containers_inner_right_container > form > input {
    height: 30px;
    padding: 0px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    width: 400px;
}
.table_name_and_other_details_display_containers_inner_right_container > form > button {
    background-color: #1792E9;
    border: 0px;
    border-radius: 5px;
    color: white;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
.table_name_and_other_details_display_container::after {
    content: "";
    clear: both;
    display: table;
}
.admin_panel_body_content_container {
    width: 100%;
    flex: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.hamburger_close_icon {
    display: none;
}
.hamburger_container_of_admin_panel {
    display: block;
    /* border: 1px solid green; */
    width: 100%;
}
.industry_name_container {
    border: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 20px;
    background-color: #2E93E9;
    display: none;
}
.hamburger_main_container {
    padding: 5px 0px;
    background-color: #F3F3F3;
}
.hamburger_main_container > h3 {
    font-size: 30px;
 }

 .hamburger_link_section_container {
     margin: 5px 0px;
     text-align: left;
     color: rgb(18, 18, 18);
 }
 .hamburger_link_section_inner_container {
    padding: 5px 0px;
    border-bottom: 2px solid #808080;
 }
 .hamburger_link_section_inner_heading_container {
     margin-bottom: 5px;
     cursor: pointer;
 }
.hamburger_link_section_inner_heading_container > .heading_text {
font-size: 19px;
float: left;
}

.hamburger_link_section_inner_heading_container > .heading_text:hover {
color: rgb(69, 69, 69);    
}

.hamburger_link_section_inner_heading_container > .heading_arrow {
float: right;
margin: 5px;
}
.hamburger_link_section_inner_heading_container::after {
    content: "";
    clear: both;
    display: table;
}

.hamburger_link_section_inner_hidden_container {
    background-color: rgb(77, 77, 255, 0.3);
    border: 0px;
    border-radius: 5px;
    color: rgb(18, 18, 18);
    padding-bottom: 5px;
    display: none;
}


.hamburger_link_section_inner_hidden_floating_container > button {
    float: left;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.hamburger_link_section_inner_hidden_floating_container > button:hover  {
   color: rgb(49, 49, 49);
}
.hamburger_link_section_inner_hidden_floating_container > span {
    float: right;
    font-size: 20px;
}

.hamburger_link_section_inner_hidden_floating_container {
    padding: 8px 5px 0px 5px;
    font-weight: lighter;
}

.hamburger_link_section_inner_hidden_floating_container::after {
    content: "";
    clear: both;
    display: table;
}

/* Admin Panel Body Container End */

/* Admin Panel Body's Details Table Start */

.admin_panel_details_table {
    text-align: center;
    /* border: 1px solid red; */
    border-collapse: collapse;
    width: 100%;
    
}
.admin_panel_details_table tr, .admin_panel_details_table td, .admin_panel_details_table th {
    /* border: 1px solid red; */
    padding: 15px 5px;
    white-space: nowrap;
    
}
.admin_panel_details_table_container {
    overflow-x: auto;
    display: none;
}
.admin_panel_details_table td {
    border-bottom: 2px solid #CCCCFF;
    color: black;
    font-size: 17px;
}

.admin_panel_details_table tr:hover td {
    border-bottom: 2px solid #BF80FF;
}


.admin_panel_details_table th {
    background-color: #E8F4FD;
}
.edit_button_of_table , .delete_button_of_table {
    border: 0px;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    width: 40px;
    cursor: pointer;
}
.edit_button_of_table {
    background-color: #5CD65C;
    color: rgb(51, 51, 51);
    transition: background-color 0.2s;
}
.edit_button_of_table:hover {
    background-color: #50b950;
}
.delete_button_of_table {
    background-color: #FF3300;
    color: rgb(238, 238, 238);
    transition: background-color 0.2s;
}
.delete_button_of_table:hover {
    background-color: #e42e00;
}

/* Admin Panel Body's Details Table End */

/* Admin Panel form and table Container Start */

.add_user_form_container, .add_category_form_container, .add_sub_category_form_container, .add_bandi_form_container, .add_product_form_container, .add_sub_prod_form_container, .add_prod_spec_form_container, .add_prod_faq_ans_form_container, .add_filter_form_container, .add_sub_filter_form_container, .add_prods_data_form_container, .new_filter_table_data_form_container, .add_notification_form_container, .add_cus_feedback_form_container, .add_newsletter_form_container, .add_admin_management_form_container, .add_subscriber_form_container {
    border: 1px solid green;
}
.add_user_step1_container, .add_user_step2_container, .add_category_step1_container, .add_sub_category_step1_container, .add_bandi_step1_container, .add_product_step1_container, .add_sub_prod_step1_container, .add_prod_spec_step1_container, .add_prod_faq_ans_step1_container, .add_filter_step1_container, .add_sub_filter_step1_container, .add_prods_data_step1_container, .new_filter_table_data_step1_container, .add_notification_step1_container, .add_cus_feedback_step1_container, .add_newsletter_step1_container, .add_admin_management_step1_container, .add_subscriber_step1_container {
    width: 60%;
    text-align: left;
    border: 1px solid red;
    display: none;
}
 
.add_user_form > label, .add_category_form > label, .add_sub_category_form > label, .add_bandi_form > label, .add_product_form > label, .add_sub_prod_form > label, .add_prod_spec_form > label, .add_prod_faq_ans_form > label, .add_filter_form > label, .add_sub_filter_form > label, .add_prods_data_form > label, .new_filter_table_data_form > label, .add_notification_form > label, .add_cus_feedback_form > label, .add_newsletter_form > label, .add_admin_management_form > label, .add_subscriber_form > label {
    display: inline-block;
    font-size: 15px;
    color: rgb(109, 109, 109);
    margin: 5px 20px 5px 0px;
}
.add_user_form > input[type="text"], .add_user_form > input[type="email"], .add_user_form > input[type="password"], .add_user_form > select, .add_category_form > input[type="text"], .add_sub_category_form > input[type="text"], .add_bandi_form > input[type="text"], .add_product_form > input[type="text"], .add_sub_prod_form > input[type="text"], .add_prod_spec_form > input[type="text"], .add_prod_faq_ans_form > input[type="text"], .add_filter_form > input[type="text"], .add_sub_filter_form > input[type="text"], .add_prods_data_form > input[type="text"], .new_filter_table_data_form > input[type="text"], .add_notification_form > input[type="text"], .add_cus_feedback_form > input[type="text"], .add_newsletter_form > input[type="text"], .add_admin_management_form > input[type="text"], .add_admin_management_form > input[type="email"], .add_admin_management_form > input[type="password"], .add_subscriber_form > input[type="email"] {
width: 100%;
border: 1px solid gainsboro;
padding: 0px 10px;
color: rgb(109, 109, 109);
height: 30px;
border-radius: 5px;
margin-bottom: 10px;
}

.custom_file_upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        width: 100%;
        cursor: pointer;
        margin-bottom: 20px;
    }

#cats_id, #category_id, #sub_category_id, #brands_id, #prod_id, #categories_id, #sub_categories_id, #bandi_id, #sub_pro_id, #pro_id, #p_spec_id, #produc_id, #p_and_q_id, #prod_faq_ques_status, #subes_cats_id, #details_for_which_prod, #sub_catego_id, #filters_id, #filter_table_names, #productt_name_or_id {
width: 100%;
border: 1px solid gainsboro;
color: rgb(109, 109, 109);
height: 30px;
border-radius: 5px;
margin-bottom: 10px;
}
#brands_id, #prod_id, #sub_pro_id, #p_spec_id, #filter_id, #sub_filter_id, #filter_table_prods_id, #notify_id {
    display: none;
}

.add_user_next_btn, .add_user_back_btn, .add_user_submit_btn, .add_user_cancel_btn, .add_user_back_btn2, .add_user_next_btn2, .add_user_submit_btn2, .add_user_submition_btn, .add_category_submition_btn, .add_category_submition_btn2, .add_sub_category_submition_btn, .add_sub_category_submition_btn2, .brand_and_item_submition_btn, .brand_and_item_submition_btn2, .product_submition_btn, .product_submition_btn2, .add_sub_prod_submition_btn, .add_sub_prod_submition_btn2, .prod_spec_submition_btn, .prod_spec_submition_btn2, .p_q_and_a_submition_btn2, .filter_data_submition_btn, .filter_data_submition_btn2, .sub_filter_data_submition_btn, .sub_filter_data_submition_btn2, .add_prods_data_submition_btn, .add_prods_data_submition_btn2, .new_filter_table_data_submition_btn, .notification_submition_btn, .notification_submition_btn2, .feedback_submition_btn, .newsletter_submition_btn, .newsletter_submition_btn2, .admin_submition_btn, .admin_submition_btn2, .subscriber_submition_btn, .subscriber_submition_btn2 {
    margin: 10px 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #2D9AE8;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
.add_user_submit_btn, .add_user_submit_btn2 {
    background-color: #4aaa4a;
}
.add_user_cancel_btn {
    background-color: #d5342e;
}

.add_user_next_btn:hover, .add_user_back_btn:hover, .add_user_back_btn2:hover, .add_user_next_btn2:hover, .add_user_submition_btn:hover, .add_category_submition_btn:hover, .add_category_submition_btn2:hover, .add_sub_category_submition_btn:hover, .add_sub_category_submition_btn2:hover, .brand_and_item_submition_btn:hover, .brand_and_item_submition_btn2:hover, .product_submition_btn:hover, .product_submition_btn2:hover, .add_sub_prod_submition_btn:hover, .add_sub_prod_submition_btn2:hover, .prod_spec_submition_btn:hover, .prod_spec_submition_btn2:hover, .p_q_and_a_submition_btn2:hover, .filter_data_submition_btn:hover, .filter_data_submition_btn2:hover, .sub_filter_data_submition_btn:hover, .sub_filter_data_submition_btn2:hover, .add_prods_data_submition_btn:hover, .add_prods_data_submition_btn2:hover, .new_filter_table_data_submition_btn:hover, .notification_submition_btn:hover, .notification_submition_btn2:hover, .feedback_submition_btn:hover, .newsletter_submition_btn:hover, .newsletter_submition_btn2:hover, .admin_submition_btn:hover, .admin_submition_btn2:hover, .subscriber_submition_btn:hover, .subscriber_submition_btn2:hover {
    background-color: #127cc7;
}
.add_user_submit_btn:hover, .add_user_submit_btn2:hover {
    background-color: #3f923f;
}
.add_user_cancel_btn:hover {
    background-color: #c2302b;
}

.error_message_place, .required_field_asterisk_symbol {
    color: red;
}
.add_user_back_btn2, .add_user_next_btn2, .add_user_submition_btn, .add_category_submition_btn, .add_category_submition_btn2, .add_sub_category_submition_btn, .add_sub_category_submition_btn2, .brand_and_item_submition_btn, .brand_and_item_submition_btn2, .product_submition_btn, .product_submition_btn2, .add_sub_prod_submition_btn, .add_sub_prod_submition_btn2, .prod_spec_submition_btn, .prod_spec_submition_btn2, .p_q_and_a_submition_btn2, .filter_data_submition_btn, .filter_data_submition_btn2, .sub_filter_data_submition_btn, .sub_filter_data_submition_btn2, .add_prods_data_submition_btn, .add_prods_data_submition_btn2, .new_filter_table_data_submition_btn, .notification_submition_btn, .notification_submition_btn2, .feedback_submition_btn, .newsletter_submition_btn, .newsletter_submition_btn2, .admin_submition_btn, .admin_submition_btn2, .subscriber_submition_btn, .subscriber_submition_btn2 {
    display: none;
}

/* Admin Panel form and table Container End */

/* Admin Panel Profile Section Start */

.admin_profile_container {
  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(245, 245, 245);
    border: 0px;
    border-radius: 10px;
    margin: 10px;
    padding: 0px 10px 10px 10px;
}

.admin_profile_picture {
    height: 110px;
    width: 110px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px 5px;
}
.admin_page_name {
    margin-bottom: 5px;
}

.account_details_of_admin {
    text-align: left;
}
.admin_details {
    margin-top: 5px;
    color: #2692E9;
}
.admin_profile_buttons {
    padding: 10px 20px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 10px;
    font-size: 18px;
    transition: background-color 0.2s;
    font-weight: bold;
}
.admin_profile_buttons_edit {
    background-color: #5CD65C;
    color: rgb(51, 51, 51);
}
.admin_profile_buttons_logout {
    background-color: #FF3300;
    color: rgb(238, 238, 238);
}

.admin_profile_buttons_edit:hover {
    background-color: #50b950;
}

.admin_profile_buttons_logout:hover {
    background-color: #e42e00;
}
.admin_profile_close_button {
    position: absolute;
    right: 30px;
    background-color: transparent;
    font-size: 20px;
    color: rgb(51, 51, 51);
    border: 0px;
    cursor: pointer;
    margin: 10px 5px;
}

.admin_page_adminAccess_title {
    margin-bottom: 10px;
}

.admin_profile_container {
    display: none;
}

/* Admin Panel Profile Section End */

/* Graph Section Start */

.home_page_graphs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.graph_container {
    width: 49%;
    border: 2px solid gainsboro;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

/* Graph Section End */

/* Media Query Start */

@media only screen and (min-width: 1400px) {
    .admin_profile_close_button {
       position: relative;
       left: 49%;
    }
}

@media only screen and (min-width: 1400px) {
    .profile_and_logout_container {
        right: 3%;
    }
}
@media only screen and (min-width: 1600px) {
    .profile_and_logout_container {
        right: 10%;
    }
}
@media only screen and (min-width: 1900px) {
    .profile_and_logout_container {
        right: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .admin_panel_body_navbar_container {
        flex: 25%;
    }
    .admin_panel_body_content_container {
        flex: 75%;
    }
    .graph_container {
        width: 48%;
    }
}

@media only screen and (max-width: 1000px) {
    .admin_panel_body_navbar_container {
        flex: 30%;
    }
    .admin_panel_body_content_container {
        flex: 70%;
    }
    .admin_panel_body_navbar_container {
        flex: 20%;
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        width: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .admin_panel_body_navbar_container {
        flex: 35%;
    }
    .admin_panel_body_content_container {
        flex: 65%;
    }
    .table_name_and_other_details_display_containers_inner_right_container > form > input {
        width: 180px;
    }
    
}

@media only screen and (max-width: 700px) {
    .admin_panel_body_navbar_container {
        flex: 40%;
    }
    .admin_panel_body_content_container {
        flex: 60%;
    }
    
}

@media only screen and (max-width: 600px) {
    .admin_panel_body_navbar_container {
        flex: 45%;
    }
    .admin_panel_body_content_container {
        flex:55%;
    }
    .add_user_step1_container, .add_user_step2_container, .add_category_step1_container, .add_sub_category_step1_container, .add_bandi_step1_container, .add_product_step1_container, .add_sub_prod_step1_container, .add_prod_spec_step1_container, .add_prod_faq_ans_step1_container, .add_filter_step1_container, .add_sub_filter_step1_container, .add_prods_data_step1_container, .new_filter_table_data_step1_container, .add_notification_step1_container, .add_cus_feedback_step1_container, .add_newsletter_step1_container, .add_admin_management_step1_container, .add_subscriber_step1_container {
        width: 80%;
    }
    .admin_details {
        font-size: 18px;
    } 
    
.graph_container {
    width: 100%;
}

#myChart1 {
    height: 100%;
}

}

@media only screen and (max-width: 500px) {
    .admin_panel_body_navbar_container {
        flex: 50%;
    }
    .admin_panel_body_content_container {
        flex:50%;
    }
    
}

@media only screen and (max-width: 400px) {
  .admin_panel_header_web_title {
      display: none;
  }
  .admin_panel_header_left_container {
    margin: 11px 20px;
}

.table_name_and_other_details_display_containers_inner_left_container {
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
.table_name_and_other_details_display_containers_inner_right_container {
display: inline-block;
border: 1px solid black;
width: 100%;
margin: 4px auto;
}

.industry_name_container {
    display: block;
}
.account_details_of_admin {
    text-align: left;
}

.add_user_step1_container, .add_user_step2_container, .add_category_step1_container, .add_sub_category_step1_container, .add_bandi_step1_container, .add_product_step1_container, .add_sub_prod_step1_container, .add_prod_spec_step1_container, .add_prod_faq_ans_step1_container, .add_filter_step1_container, .add_sub_filter_step1_container, .add_prods_data_step1_container, .new_filter_table_data_step1_container, .add_notification_step1_container, .add_cus_feedback_step1_container, .add_newsletter_step1_container, .add_admin_management_step1_container, .add_subscriber_step1_container {
    width: 90%;
}
.admin_details {
   font-size: 15px;
} 
.admin_page_name, .admin_page_adminAccess_title {
    font-size: 22px;
}

#myChart1 {
    height: 75%;
}

}

/* Media Query End */



