/* Code Reset Start*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a:hover, a:active, a:visited, a:link, a:focus {
    outline: none;
    background: none;
    border: none;
    background-color: none;
}
:focus {
    outline: none !important;
}
a{
    -webkit-tap-highlight-color: transparent;
 }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

/* Code Reset End*/

/* Admin Panel Container Start */

.admin_panel_container {
    border: 1px solid red;
    max-width: 1400px;
}

/* Admin Panel Container End */

/* Admin Panel Main Container Start */

.admin_panel_main_container {
    border: 1px solid blue;
}

/* Admin Panel Main Container End */

/* Admin Panel Header Container Start */

.admin_panel_header_container {
    border: 1px solid black;
    width: 100%;
    margin: 5px 0px;
    padding-bottom: 5px;
    box-shadow: 0 8px 7px -10px black;
}
.admin_panel_header_left_container {
    border: 1px solid royalblue;
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
}


.admin_panel_header_right_container {
    border: 1px solid royalblue;
    float: right;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.admin_panel_header_container::after {
    content: "";
    clear: both;
    display: table;
}

.user_db_container {
    border: 1px solid green;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.admin_db_image {
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 50%;
}
.user_db_container_arrow {
    padding: 0px 10px;
    border: 1px solid palevioletred;
    color: #808080;
}
.admin_panel_header_icons {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: white;
    
}

.admin_panel_header_bell_icon {
    font-size: 15px;
    border: 0px;
    background-color: #f3f3f3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #808080;
}
.admin_panel_header_web_title {
    color: #1792E9;
    font-size: 40px;
}

.profile_and_logout_container {
    position: absolute;
    background-color: white;
    top: 65px;
    right: 1%;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}
.profile_and_logout_container_buttons {
    background-color: white;
    font-size: 18px;
    border: none;
    font-weight: bold;
    margin: 5px 0px;
    transition: color 0.2s;
}
.profile_and_logout_container_buttons:hover {
    color: #1792E9;
}

/* Admin Panel Header Container End */   

/* Admin Panel Body Container Start */

.admin_panel_body_container {
    border: 1px solid red;
    display: flex;
    background-color: #e4e4e4;
    margin: 10px 0px;
}

.admin_panel_body_navbar_container {
    flex: 20%;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    display: none;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1792E9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  
}
.admin_panel_body_content_container {
    width: 100%;
    flex: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}

.hamburger_close_icon {
    display: none;
}


/* Admin Panel Body Container End */

/* Admin Panel Body's Details Table Start */

.admin_panel_details_table {
    text-align: left;
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
    
}
.admin_panel_details_table tr, .admin_panel_details_table td, .admin_panel_details_table th {
    border: 1px solid red;
    padding: 5px;
}
.admin_panel_details_table_container {
    overflow-x: auto;
}

/* Admin Panel Body's Details Table End */


/* Media Query Start */

@media only screen and (min-width: 1400px) {
    .profile_and_logout_container {
        right: 3%;
    }
}
@media only screen and (min-width: 1600px) {
    .profile_and_logout_container {
        right: 10%;
    }
}
@media only screen and (min-width: 1900px) {
    .profile_and_logout_container {
        right: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .admin_panel_body_navbar_container {
        flex: 25%;
    }
    .admin_panel_body_content_container {
        flex: 75%;
    }
    
}

@media only screen and (max-width: 1000px) {
    .admin_panel_body_navbar_container {
        flex: 30%;
    }
    .admin_panel_body_content_container {
        flex: 70%;
    }
    
}

@media only screen and (max-width: 800px) {
    .admin_panel_body_navbar_container {
        flex: 35%;
    }
    .admin_panel_body_content_container {
        flex: 65%;
    }
    
}

@media only screen and (max-width: 700px) {
    .admin_panel_body_navbar_container {
        flex: 40%;
    }
    .admin_panel_body_content_container {
        flex: 60%;
    }
    
}

@media only screen and (max-width: 600px) {
    .admin_panel_body_navbar_container {
        flex: 45%;
    }
    .admin_panel_body_content_container {
        flex:55%;
    }
    
}

@media only screen and (max-width: 500px) {
    .admin_panel_body_navbar_container {
        flex: 50%;
    }
    .admin_panel_body_content_container {
        flex:50%;
    }
    
}

/* Media Query End */



