/* Code Reset Start*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a:hover, a:active, a:visited, a:link, a:focus {
    outline: none;
    background: none;
    border: none;
    background-color: none;
}
:focus {
    outline: none !important;
}
a{
    -webkit-tap-highlight-color: transparent;
 }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

/* Code Reset End*/

